body
{
    background-color: whitesmoke;
}

/*Nav Start*/
#list{
     margin-right: 80px;
     font-weight: bolder; 
     font-family: sans-serif;
     } 
#list1{
      
     border-radius: 20px; 
     margin-left: 50px; 
     width: 100px; 
     padding: 10px; 
     background-color: #c1abcb; 
    } 
#list2{ 
     border-radius: 16px; 
     margin-left: 50px; 
     width: 100px; 
     background-color:#8948a0; 
     padding: 10px; 
     color: white; 
    } 
#Nav{ 
    position: relative; 
    font-size: 16px; 
    padding-top: 50px; 
    float: right; 
    } 
nav { 
     background-color: #ffffff; 
     background-image: linear-gradient(0deg, #ffffff 50%, #97D9E1 100%); 
    } 
hr{ 
    padding:1px; 
    background-color: violet; 
}
/*Nav End*/
/*Python section start*/
.myDive0 {
    width: 65%;
    height: 90%;
    z-index: 1;
    border-radius: 10px;
    background-color: #D9AFD9;
    background-image: linear-gradient(315deg, #f8dbf8cb 28%, #c4dbdd 99%);    text-align: left;
    margin-left: 160px;
    padding: 5%;
    padding-left: 30px;

  }
  .divBox1{
    width: 60%;
    height: 35%;
    margin-top: -1%;
    margin-left: 21%;
    border-radius: 10px;
    background:linear-gradient(to right,#ff00cc 0%,#333399 51%,#ff00cc 100%);
    text-align: left;    
    padding:1%;  
  }
  .myDiv1 {
    margin-left: 30px;
   
  }
  .myDiv2 {
    margin-left: 30px;
    color: blue;
  }
  .myDiv3 {
    color: blue;
  }

  .checked {
    color: #8B8000;
  }

  .btn1 {
    background: linear-gradient(to right, #26408b 0%, #6666ff 105%);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .img {
    position: relative;
    float: right;
    background-size: cover;
    margin-top: -230px;
    margin-right: 20%;
    z-index: 1;
    border-radius: 5px;
  }
  .img2 {
    position: relative;
    float: right;
    margin-top: -230px;
    margin-right: 3%;
    z-index: 1;
    height: 200px;
    width:40%;
  }

/*Python section end*/
/*Curriculum start*/
.myDiv {
    width: 85%;
    height: 75%;
    border-radius: 10px;
    background-color: #D9AFD9;
    background-image: linear-gradient(315deg, #f8dbf8cb 28%, #c4dbdd 99%);
    text-align: left;
    margin-left: 140px;
    padding: 4%;
    margin-top: 40px;

}
.introDiv {
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 2px outset #333399;
    border-radius: 5px;
    width: 50%;
    font-size: 20px;


}

#h1 {
    background: -webkit-linear-gradient(#ff00cc, #333399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -35px;
}

.Sybutton {
    background-color: #ce68ce;

    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    float: right;
    margin-top: -50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
}

.weekDiv {
    margin-top: 30px;
    margin-left: 10px;
    border: 1px outset #333399;
    background-color: transparent;
    width: 10%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.weekDiv1 {
    
    color:rgba(223, 219, 219, 0.932);
    border-radius: 7px;
    display: inline-block;
    background: -webkit-linear-gradient(#ff00cc, #333399);
    padding-left: 20px;
    padding-right: 250px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    margin-top: -30px;
    margin-left: 10%;
    margin-right: 30%;
    float: right;

}
.weekDiv01 {
    color:rgba(223, 219, 219, 0.932);
    margin-top: -30px;
    float: right;
    border-radius: 7px;
    display: inline-block;
    background: -webkit-linear-gradient(#ff00cc, #333399);
    padding-left: 20px;
    padding-right: 250px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;

}
.weekDiv2 {
    color:rgba(223, 219, 219, 0.932);
    margin-top: -30px;
    float: right;
    border-radius: 7px;
    display: inline-block;
    background: -webkit-linear-gradient(#ff00cc, #333399);
    padding-left: 20px;
    padding-right: 250px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 10%;

}
.weekDiv3 {
    color:rgba(223, 219, 219, 0.932);
    margin-top: -30px;
    float: right;
    border-radius: 7px;
    display: inline-block;
    background: -webkit-linear-gradient(#ff00cc, #333399);
    padding-left: 20px;
    padding-right: 250px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 0%;

}
/* Curriculum end*/
/*About start*/
.myDive {
    width: 65%;
    height: 75%;
    border-radius: 10px;
    background: linear-gradient(to bottom left, #ccffff 4%, #76c6c5 69%);
    text-align: left;
    margin-left: 160px;
    padding: 4%;
    padding-left: 30px;
    

  }
.circle{
    top:27%;
    right: 92%;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #97D9E1;
  }
  .hii{
    background: -webkit-linear-gradient(#ff00cc, #333399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15px;
    font-size: 24px;
  }
  .offer{
   
      background: -webkit-linear-gradient(#ff00cc, #333399);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
/*About end*/
/*Ask question start*/
.askDiv {
  margin-top: 40px;
  width: 70%;
  border-radius: 15px;
  display: inline-block;
  background-color: #d9c4c7;  
  margin-right: 15%;
  margin-left: 15%;
   padding:2% ;
 
}
.ask{
	  border-radius:10px;
    background-color:#ad757dee;
    border: none;
    width: 400px;
    display: inline-block;
    padding: 1.5%;

}
.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 1.5%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  
  cursor: pointer;

  z-index: 1;
  margin-top: 50px;
}
.button4 {border-radius: 12px;}
/*Ask question end*/
.btnpost{
  display: inline-block;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 1.5%;
  background-color:#887074ee;

  margin-right: 20px;

}
.label1{
  color: blue;
  margin-top: 15px;
}
/*photo galley*/



/* Clearfix (clear floats) */


.gallery{
  margin-top: 25px ;
  display: inline-block;
  box-sizing: border-box;
  background-image: linear-gradient(315deg, #D9AFD9 2%, #97D9E1 99%);
}
.column {
  width: 5%;
  height: 5%;
  padding: 5px;
  margin-left: 15%;
} 
.label2{
  margin-left: 10%;
  background: -webkit-linear-gradient(#ff00cc, #333399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*end gallery*/

.abc{
  padding-top:10px ;
}
.aboutstar{
  margin-top: 25px ;
  display: inline-block;
  box-sizing: border-box;
  background: #97D9E1 ;
  width: 100%;
}
.botm{
  margin-bottom: 40px ;

}
.myDivS {
  width: 95%;
  height: 75%;
  background-color: #D9AFD9;
  background-image: linear-gradient(315deg, #f8dbf8cb 28%, #c4dbdd 99%);
  margin-left: 2%;
  margin-right: 1%;  
  text-align: left;
  padding: 4%;
  margin-top: 40px;

}
.myDivSA {
  width: 95%;
  height: 75%;
  background-color: #D9AFD9;
  background-image: linear-gradient(315deg, #f8dbf8cb 28%, #c4dbdd 99%);
  text-align: left;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 5px 5px 5px 5px #888888;
  width: 50%;
  padding: 4%;
  margin-top: -30px;
  float: right;
}